$color_elemnts:#266bb5;
$color_gold:#f5d45e;
$color_silver:#e8e7e8;
$color_bronze:#e99a23;


@import 'bootstrap.min';
@import "bootstrap-responsive.min";
@import "shortcodes";

@import "supersized";
@import "supersized.shutter";
@import "template";
@import "voting";
@import "animate";
@import "responsive";
